body {
  margin: 0px auto;
  text-align: center;
}

.entry {
  width: 500px;
  border: 5px solid black;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
}

.entry h3 {
  font-family: sans-serif;
  color: red;
  text-align: center;
  text-transform: capitalize;
}

.date {
  text-align: center;
}

.about-me {
  background-color: red;
  font-family: sans-serif;
  color: white;
  width: 500px;
  margin: 10px auto;
  padding: 5px 10px;
}

.important {
  font-family: cursive;
  font-size: 25px;
}
